
header{
    color: #faf7f7;
    text-align: center;
    background-color: #1e3097;
    padding: 10px;
    border-bottom: 1px solid #000; 
}

body{
    margin: 0;
}

main{
    margin: 0px auto ;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    height: 100%;
    background-color: #333335;
    border: 1px solid #000;
}

#display{
    /* width: fill-available; */
    height: 80px;
    margin: 0px;
    padding: 10px;
    background-color: #080808;
    /* border-radius: 5px; */
    border: 3px solid #c2b9b9; 
    display: flex;
    justify-content: space-between;

}

#calculations{ 
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;  
    color: #faf7f7;
    border: 1px solid #000;
}

#resultDisplay{    
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: #faf7f7;  
    border: 1px solid #000; 
}

#Buttons{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: end; */
    margin: 0px;
    /* width: 90%; */
    /* border: 1px solid #000;  */
    background: linear-gradient(180deg, #0f0e0e, #ece3e3);
}

#numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    width: 40%;
    /* border: 1px solid #000; */
}

#Operators{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    /* border: 1px solid #000; */
}


.btns{
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #000; 
    background-color: #bdbbbb;
    font-size: 40px;
}
.btns:hover{
    background-color: #1e3097;
    color: #faf7f7;
}
.btns:active{
    background-color: #475fe6;
    color: #faf7f7;
}

#Equals{
    margin: 0px;
    background-color: #1e3097;
    color: #faf7f7;
    width: 100%;
}
#Clear{
    background-color: #1e3097;
    color: #faf7f7;
}

#Equals:hover,#Clear:hover{
    background-color: #d6d9e7;
    color: #0f13dd;
}
#Equals:active,#Clear:active{
    background-color: #475fe6;
    color: #faf7f7;
}







